<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>( Beautiful Colors For Web )</h1>
        <nav>
            <div class="logo"><img src="./img/logo.png" alt=""></div>
            <div class="links">
                <a href="">HOME</a>
                <a href="">POPULAR</a>
            </div>


        </nav>

        <div class="container">
            <div class=" color c1"></div>
            <div class="color c2 "></div>
            <div class="color c3 "></div>
            <div class="color c4 "></div>
            <div class="color c5 "></div>
            <div class="color c6 "></div>
            <div class="color c7 "></div>
            <div class="color c8 "></div>
            <div class="color c9 "></div>
            <div class="color c10 "></div>
            <div class="color c11 "></div>
            <div class="color c12 "></div>
            <div class="color c13 "></div>
            <div class="color c14 "></div>
            <div class="color c15 "></div>
            <div class="color c16 "></div>
            <div class="color c17 "></div>
            <div class="color c18 "></div>
            <div class="color c19 "></div>
            <div class="color c20 "></div>
            <div class="color c21 "></div>
            <div class="color c22 "></div>
            <div class="color c23 "></div>
            <div class="color c24 "></div>
            <div class="color c25 "></div>
            <div class="color c26 "></div>
            <div class="color c27 "></div>
            <div class="color c28 "></div>
            <div class="color c29 "></div>
            <div class="color c30 "></div>
            <div class="color c31 "></div>
            <div class="color c32 "></div>
            <div class="color c33 "></div>
            <div class="color c34 "></div>
            <div class="color c35 "></div>
            <div class="color c36 "></div>
            <div class="color c37 "></div>
            <div class="color c38 "></div>
            <div class="color c39 "></div>
            <div class="color c40 "></div>
            <div class="color c41 "></div>
            <div class="color c42 "></div>
            <div class="color c43 "></div>
            <div class="color c44 "></div>
            <div class="color c45 "></div>
            <div class="color c46 "></div>
            <div class="color c47 "></div>
            <div class="color c48 "></div>
            <div class="color c49 "></div>
            <div class="color c50 "></div>
            <div class="color c51 "></div>
            <div class="color c52 "></div>
            <div class="color c53 "></div>
            <div class="color c54 "></div>
            <div class="color c55 "></div>
            <div class="color c56 "></div>
            <div class="color c57 "></div>
            <div class="color c57 "></div>
            <div class="color c58 "></div>
            <div class="color c59 "></div>
            <div class="color c60 "></div>
            <div class="color c61 "></div>
            <div class="color c62 "></div>
            <div class="color c63 "></div>
            <div class="color c64 "></div>
            <div class="color c65 "></div>
            <div class="color c66 "></div>
            <div class="color c67 "></div>
            <div class="color c68 "></div>
            <div class="color c69 "></div>
            <div class="color c70 "></div>
            <div class="color c71 "></div>
            <div class="color c72 "></div>
            <div class="color c73 "></div>
            <div class="color c74 "></div>
            <div class="color c75 "></div>
            <div class="color c76 "></div>
            <div class="color c77 "></div>
            <div class="color c78 "></div>
            <div class="color c79 "></div>
            <div class="color c80 "></div>
            <div class="color c81 "></div>
            <div class="color c82 "></div>
            <div class="color c83 "></div>
            <div class="color c84 "></div>
            <div class="color c85 "></div>
            <div class="color c86 "></div>
            <div class="color c87 "></div>
            <div class="color c88 "></div>
            <div class="color c89 "></div>
            <div class="color c90 "></div>
            <div class="color c91 "></div>
            <div class="color c92 "></div>
            <div class="color c93 "></div>
            <div class="color c94 "></div>
            <div class="color c95 "></div>
            <div class="color c96 "></div>
            <div class="color c97 "></div>
            <div class="color c98 "></div>
            <div class="color c99 "></div>
            <div class="color c100 " onhover()></div>
            
        </div>
    </header>
 
</body>
</html>