<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>( Beautiful Colors For Web )</h1>
        <nav>
            <div class="logo"><img src="./img/logo.png" alt=""></div>
            <div class="links">
                <a href="/">HOME</a>
                <a href="/popular" class="<%if(active){ %> active <%}%>">POPULAR</a>
            </div>


        </nav>

        <div class="container">
            <div class=" color c1"><h3>#FF6347</h3></div>
            <div class="color c2 "><h3>#fe346e</h3></div>
            <div class="color c3 "><h3>#2c003e</h3></div>
            <div class="color c4 "><h3>#235952</h3></div>
            <div class="color c5 "><h3>#ffac41</h3></div>
            <div class="color c6 "><h3>#ff1e56</h3></div>
            <div class="color c7 "><h3>#fe346e</h3></div>
            <div class="color c8 "><h3>#323232</h3></div>
            
            <div class="color c18 "><h3>#084177</h3></div>
           
            <div class="color c32 "><h3>#fe346e</h3></div>
            <div class="color c33 "><h3>#f1e7b6</h3></div>
            <div class="color c34 "><h3>#400082</h3></div>
            <div class="color c35 "><h3>#00bdaa</h3></div>
            <div class="color c36 "><h3>#ff7272</h3></div>
            <div class="color c37 "><h3>#ffb385</h3></div>
            <div class="color c38 "><h3>#ffd31d</h3></div>
            <div class="color c39 "><h3>#00a8cc</h3></div>
            <div class="color c40 "><h3>#f4e04d</h3></div>
            <div class="color c41 "><h3>#d7385e</h3></div>
            <div class="color c42 "><h3>#363062</h3></div>
            <div class="color c43 "><h3>#4d4c7d</h3></div>
            <div class="color c44 "><h3>#fb7b6b</h3></div>
            <div class="color c45 "><h3>#d7385e</h3></div>
            <div class="color c46 "><h3>#522d5b</h3></div>
            <div class="color c47 "><h3>#aeefec</h3></div>
            <div class="color c48 "><h3>#eb4559</h3></div>
            <div class="color c49 "><h3>#4cd3c2</h3></div>
            <div class="color c50 "><h3>#363636</h3></div>
            <div class="color c51 "><h3>#00bcd4</h3></div>
            <div class="color c52 "><h3>#f4e04d</h3></div>
            <div class="color c53 "><h3>#ea6227</h3></div>
            <div class="color c54 "><h3>#342ead</h3></div>
            <div class="color c55 "><h3>#442727</h3></div>
            <div class="color c56 "><h3>#efa8e4</h3></div>
            <div class="color c57 "><h3>#ffbd69</h3></div>
            <div class="color c58 "><h3>#ff6363</h3></div>
            <div class="color c59 "><h3>#543864</h3></div>
            <div class="color c60 "><h3>#c70039</h3></div>
            <div class="color c61 "><h3>#900c3f</h3></div>
            <div class="color c62 "><h3>#f0a500</h3></div>
            <div class="color c63 "><h3>#0779e4</h3></div>
            <div class="color c64 "><h3>#d8345f</h3></div>
            <div class="color c65 "><h3>#fa744f</h3></div>
            <div class="color c66 "><h3>#16817a</h3></div>
            <div class="color c67 "><h3>#f40552</h3></div>
            <div class="color c68 "><h3>#162447</h3></div>
            <div class="color c69 "><h3>#6a097d</h3></div>
            
            <div class="color c71 "><h3>#f54291</h3></div>
            <div class="color c72 "><h3>#e7305b</h3></div>
            <div class="color c73 "><h3>#fa26a0</h3></div>
            <div class="color c74 "><h3>#e8505b</h3></div>
            <div class="color c75 "><h3>#251f44</h3></div>
            <div class="color c76 "><h3>#00bcd4</h3></div>
            <div class="color c77 "><h3>#91d18b</h3></div>
            <div class="color c78 "><h3>#ffaa71</h3></div>
            <div class="color c79 "><h3>#2d4059</h3></div>
            
            <div class="color c81 "><h3>#ff4b5c</h3></div>
            <div class="color c82 "><h3>#d2e603</h3></div>
            <div class="color c83 "><h3>#2ec1ac</h3></div>
            <div class="color c84 "><h3>#28df99</h3></div>
            <div class="color c85 "><h3>#99f3bd</h3></div>
            <div class="color c86 "><h3>#ffb0b0</h3></div>
            <div class="color c87 "><h3>#d789d7</h3></div>
            <div class="color c88 "><h3>#5d54a4</h3></div>
            <div class="color c89 "><h3>#006a71</h3></div>
            <div class="color c90 "><h3>#931a25</h3></div>
            <div class="color c91 "><h3>#821752</h3></div>
            <div class="color c92 "><h3>#ff414d</h3></div>
            <div class="color c93 "><h3>#32e0c4</h3></div>
            <div class="color c94 "><h3>#ccf6c8</h3></div>
            <div class="color c95 "><h3>#7579e7</h3></div>
            <div class="color c96 "><h3>#a6f6f1</h3></div>
            <div class="color c97 "><h3>#DC143c</h3></div>
            <div class="color c98 "><h3>#40e0d0</h3></div>
            <div class="color c99 "><h3>#ffd700</h3></div>
            <div class="color c100"><h3>#353535</h3></div>
            <div class="color c56 "><h3>#efa8e4</h3></div>
            <div class="color c84 "><h3>#28df99</h3></div>

            
        </div>
    </header>
 
</body>
</html>